autom4te.cache
Makefile.in.in
Makefile.in
Makefile
INSTALL
aclocal.m4
compile
config.h*
config.log
config.status
configure
README
NEWS
depcomp
install-sh
missing
omf.make
stamp-h1
xmldocs.make
src/mate-xfce4-panel-plugin-loader-applet
src/*.o
src/org.mate.Xfce4PanelPluginLoader.Applet.mate-panel-applet
src/org.mate.Xfce4PanelPluginLoader.Applet.mate-panel-applet.in
src/org.mate.panel.applet.Xfce4PanelPluginLoader.gschema.valid
src/org.mate.panel.applet.Xfce4PanelPluginLoader.gschema.xml
src/org.mate.panel.applet.Xfce4PanelPluginLoaderFactory.service
src/.deps
po/POTFILES
po/stamp-it
po/*.gmo
po/.intltool-merge-cache
